<head>
  <style>
    body { font-family: 'Helvetica', 'Arial', sans-serif; }
  </style>
</head>

<h1>Movies</h1>
{% if newEntryId  %}
<p>Your entry has been made, _id is {{newEntryId}}</p>
<form action="/remove_entry" method="POST">
  <button type="submit" value="Submit">remove last entry</button>
</form>
{% endif %}
<ul>
{% for movie in movies %}
  <li><a href="http://www.imdb.com/title/{{ movie.imdb }}">{{ movie.title }}, {{movie.year }}</a></li>
  {% else %}
    <li>No movies found.</li>
    {% endfor %}
</ul>


